/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2015, 9:40:15 PM
    Author     : Willem-Grace
*/
/*

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 20px;
    background-color: rgba(255, 160, 122, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 160, 122, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #F1592A;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffa07a;
}

*/

/*.navbar.transparent.navbar-inverse .navbar-inner  #bs-example-navbar-collapse-1 {
    background: rgba(0,0,0,0.4);
}*/

ul li a {
    color: black;
}

.noWell{
    border-style: none;
    border-radius: 0px;
}

#navbar div {
    height: 100%;
    vertical-align: middle;
}
.nopaddingmargin {
    padding: 0px;
    margin: 0px;
}

#innerHome {
    padding-bottom: 0.8%;
}

#footerDiv{
    border-style: none;
    border-radius: 0px; 
    /*margin: 0px;*/
    background-color: rgba(255, 160, 122, 1);
    vertical-align: middle;
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    /*overflow:hidden;*/
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    /*overflow:hidden;*/
    top:0;
    left:0;
    /*opacity:0;*/
    /*background-color:rgba(0,0,0,0.5);*/
    /*-webkit-transition:all .4s ease-in-out;*/
    /*transition:all .4s ease-in-out*/
}

.hovereffect img {
    display:block;
    position:relative;
    /*-webkit-transition:all .4s linear;*/
    /*transition:all .4s linear;*/
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:30px;
    background: black;
    /*background:rgba(0,0,0,0.6);*/
    /*-webkit-transform:translatey(-100px);*/
    /*-ms-transform:translatey(-100px);*/
    /*transform:translatey(-100px);*/
    /*-webkit-transition:all .2s ease-in-out;*/
    transition:all .2s ease-in-out;
    padding:10px;
    /*margin-top: 5%;*/
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:rgba(0,0,0,0.5);
    /*background-color:transparent;*/
    /*opacity:0;*/
/*    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;*/
    margin:22% 0 0;
    padding:7px 14px;
    font-size: 30px;
}

/*.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}*/

//---- horizontal timeline

.cd-horizontal-timeline .events-content {
    position: relative;
}
.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    opacity: 0;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, 
.cd-horizontal-timeline .events-content li.leave-right {
    animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, 
.cd-horizontal-timeline .events-content li.leave-left {
    animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, 
.cd-horizontal-timeline .events-content li.leave-left {
    animation-direction: reverse;
}
@keyframes cd-enter-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes cd-enter-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
#map {
    width: 500px;
    height: 400px;
}

.siku {
    border-radius: 0px;
}

#images {
    margin-bottom: 0.4%;
}

.denah_pics {
    /*        padding-left: 1%;
            padding-right: 1%;*/
    /*margin-left: 0.5%;*/
    /*margin-right: 0.5%;*/
}

.google-maps {
    position: relative;
    padding-bottom: 42%;
    // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#about h1, #about h2, #about h3, #about h4, #about h5, #about h6, #about p, #about a {
    font-size: 1.3em;
}

#navbar_content li a {
    font-size: 1.3em;
}

.proyek_header {
    border-bottom: #fff solid 2px;
}

.proyek_detail {
    padding-top: 10px;
}

.active {
    background-color: lightgray;
}

// Media

@media all and (max-width : 5000px) and (min-width: 2580px) {
    #logo-nav {
        position: absolute;
        display: none;
    }
    #brand_new {
        display: none;
    }

    #navbar_content {
        margin-left: 14%;
        background-color: cyan;
    }

    .half-a-border-on-right {
        border-right: #F1592A solid 3px;
        position: relative;
    }
    .half-a-border-on-right:after {
        padding:0;margin:0;display:block;/* not really needed */
        content: "";
        width:50%;
        /*height:1px;*/
        height: 50%;
        background-color:transparent;
        position: absolute;
        right:0;
        top:-1px;
    }

    .margin_resize {
        margin-top: 3.5%;
    }

    .brand-class {
        color: #F1592A;
        font-size: 1.5em;
        padding-top: 3%;
    }
}

@media all and (max-width : 3000px) and (min-width: 1680px) {
    #logo-nav {
        position: absolute;
        display: block;
    }
    #brand_new {
        display: none;
    }

    #navbar_content {
        margin-left: 14%;
        background-color: magenta;
    }

    .half-a-border-on-right {
        border-right: #F1592A solid 3px;
        position: relative;
    }
    .half-a-border-on-right:after {
        padding:0;margin:0;display:block;/* not really needed */
        content: "";
        width:50%;
        /*height:1px;*/
        height: 50%;
        background-color:transparent;
        position: absolute;
        right:0;
        top:-1px;
    }

    .margin_resize {
        margin-top: 3.5%;
    }

    .brand-class {
        color: #F1592A;
        font-size: 1.5em;
        padding-top: 3%;
    }
}

@media all and (max-width: 2000px) and (min-width: 1200px) {
    #logo-nav {
        position: absolute;
        display: block;
    }
    #brand_new {
        display: none;
    }

    #navbar_content {
        margin-left: 17%;
        /*background-color: red;*/
    }

    .half-a-border-on-right {
        border-right: #F1592A solid 3px;
        position: relative;
    }
    .half-a-border-on-right:after {
        padding:0;margin:0;display:block;/* not really needed */
        content: "";
        width:50%;
        /*height:1px;*/
        height: 50%;
        background-color:transparent;
        position: absolute;
        right:0;
        top:-1px;
    }

    .margin_resize {
        margin-top: 3.5%;
    }

    #img_right {
        display: block;
    }

    #navbar_content li a {
        font-size: 1.3em;
    }

    .brand-class {
        color: #F1592A;
        font-size: 1.4em;
        padding-top: 3%;
    }
}

@media all and (max-width: 1200px) and (min-width: 1000px) {
    #logo-nav {
        position: absolute;
        display: block;
    }

    #logo-nav img {
        height: 90%;
        width: 90%;
    }

    #brand_new {
        display: none;
    }

    #navbar_content {
        margin-left: 17%;
        /*background-color: yellow;*/
    }

    .half-a-border-on-right {
        border-right: #F1592A solid 3px;
        position: relative;
    }
    .half-a-border-on-right:after {
        padding:0;margin:0;display:block;/* not really needed */
        content: "";
        width:50%;
        /*height:1px;*/
        height: 50%;
        background-color:transparent;
        position: absolute;
        right:0;
        top:-1px;
    }

    .margin_resize {
        margin-top: 3.5%;
    }

    #img_right {
        display: block;
    }

    #navbar_content li a {
        font-size: 1em;
    }
    
    .brand-class {
        color: #F1592A;
        font-size: 1.35em;
        padding-top: 3%;
    }
}

@media all and (max-width: 1000px) and (min-width: 760px) {
    #logo-nav {
        position: absolute;
        display: block;
    }

    #logo-nav img {
        height: 80%;
        width: 80%;
    }

    #brand_new {
        display: none;
    }

    #navbar_content {
        margin-left: 12%;
        /*background-color: green;*/
    }

    .half-a-border-on-right {
        border-right: #F1592A solid 3px;
        position: relative;
    }
    .half-a-border-on-right:after {
        padding:0;margin:0;display:block;/* not really needed */
        content: "";
        width:50%;
        /*height:1px;*/
        height: 50%;
        background-color:transparent;
        position: absolute;
        right:0;
        top:-1px;
    }

    .margin_resize {
        margin-top: 3.5%;
    }

    #img_right {
        display: none;
    }

    #navbar_content li a {
        font-size: 1em;
    }
    
    .brand-class {
        color: #F1592A;
        font-size: 1.3em;
        padding-top: 3%;
    }
}

@media all and (max-width: 760px) and (min-width: 0px) {
    #logo-nav {
        display: none;
    }
    #brand_new {
        display: block;
    }

    #navbar_content {
        /*margin-left: -10%;*/
        /*background-color: cyan;*/
    }    

    .half-a-border-on-right {
        border-left: #F1592A solid 1px;
        border-right: #F1592A solid 1px;
        border-top: #F1592A solid 1px;
        position: relative;
    }

    #nav_last {
        border-left: #F1592A solid 1px;
        border-right: #F1592A solid 1px;
        border-top: #F1592A solid 1px;
        border-bottom: #F1592A solid 1px;
        position: relative;
    }

    .margin_resize {
        margin-top: 0%;
    }

    #img_right {
        display: none;
    }
    
    .brand-class {
        color: #F1592A;
        font-size: 1.35em;
        padding-top: 3.5%;
    }
}

// END Media